footer{
   padding-left: 15%;
    .col-8{
        display: flex;
        justify-content: center;
        .list{
            margin: 20px;
    
            h3{
                margin-bottom: 8px;
            }
            ul{
                
                li{
                    list-style-type: none;
                    padding: 4px 0px;
                }
            }
        }
    }
}