#leader{
    background-color: $ColorBlack;

    .center{
        
        margin-left: 22%;
    .leader-text{
        padding: 50px 0px;
       h2{
        text-align: center;
        color: $ColorWhite;
        font-size: 24px;
        margin-bottom: 15px;
       }
       p{
        color: white;
        font-size: 16px;
       }
       .adidas-icon{
        text-align: center;
        padding: 30px 0px;
       }
    }
}
}